<link type="text/css" rel="Stylesheet" href="static/style.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
<script src="static/script.js"></script>
<form action="/success" method="post" name="myForm" class="form-success">
  <fieldset class="uk-fieldset">
        <h3>Submit successful!</h3>
        <button class="uk-button uk-button-default button-centered" type="submit">Submit another form</button>
  </fieldset>
</form>
